body {
    margin: 0;
    padding: 0;
    font-family: Arial, sans-serif;
    background-color: #f5f5f5;
}
header {
    overflow: hidden;
    height:80px;
    background-color: #004aad;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
}

nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
nav a {
    color: white;
    text-decoration: none;
    font-size: 16px;
    transition: color 0.3s;
}
nav a.underline {
    text-decoration: underline;
}
nav a:hover {
    color: #ffcc00;
}
.search-bar {
    display: flex;
    width: 400px;
    display: flex;
    align-items: center;
    background: white;
    padding: 5px 10px;

}
.search-bar input {
    border: none;
    outline: none;
    padding: 8px;
    width: 400px;
    font-size: 14px;
}
.search-bar button {
    background: none;
    border: none;
    cursor: pointer;
    font-size: 18px;
    width: 400px;
}

.logo-container2   {
    margin-top: 35px;
    width: 400px;
    height: 200px;
    gap: 100px;
    
     
} 
.logo-container {   
    display: flex;
    align-items: center;
    gap: 10px;
}
.header2{
     overflow: hidden;
    height: 100px;
    background-color: #004aad;
    color: white;
    padding: 0 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    position: relative;
}
.linha {
    background-color: #1255af; 
    height: 3px; 
    width: 100%;
    position: relative; 

}
#HostVrum{
    margin-top: 20px;
    width: 150px;
    height: 100px;
    justify-content: left;
}
.profileco{
    width: 25px;
    height: 25px;
    margin-top: -1px;
    margin: -5px;
    
}
.separator{
  border-left: 3px solid #1255af;
  height: 500px;
  position: absolute;
  margin: -50px;
  top: 0;
}
.loc{
    margin-right: 10px;
    margin-top: 40px;
}
.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 300px;
    margin: auto;
    text-align: center;
    font-family: arial;
}
.nav{
    position: absolute;
    
}